body{
    margin: 0;
    padding: 0;
    background: url(lago.jpg);
    background-size: cover;
    /*background-position: center;*/
    font-family: sans-serif;
}

.formlogin{
    width: 320px;
    height: 420px;
    background: #000000;
    color: aliceblue;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    text-align: center;
}

.formlogin p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.formlogin input{
    width: 100%;
    margin-bottom: 20px;
}

.formlogin input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.formlogin input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: transparent;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.formlogin input[type="submit"]:hover{
    cursor: pointer;
    background: darkgray;
    color: #fff;
}

.formlogin a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.formlogin a:hover{
    color: floralwhite;
}